@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  overflow-x: hidden;
  --foreground: #171717;
  --primary-color:#b49c73;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 main {
  min-height: calc(100vh - 403px - 56px);
 }
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}
